<header>
    <h1>DAFFODIL</h1>
</header>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://softuni.bg/users/profile/show/ivailozd">
                <img src="https://softuni.bg/Users/Profile/ShowAvatar/3861a106-cfd8-4bf7-aa5c-570774d99ba3" alt="Ivaylo Dimov" class="img-responsive" />
            </a>
            <div class="caption text-center">
                <h4>Ivaylo Dimov</h4>
                <p>ivailozd</p>
                <a href="https://softuni.bg/users/profile/show/ivailozd" class="btn btn-sm btn-success">Read More</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://softuni.bg/users/profile/show/teodor.dobrev.90">
                <img src="https://softuni.bg/Users/Profile/ShowAvatar/3deac06a-4acb-4429-9a78-6c61fb7e165b" alt="Teodor Dobrev" class="img-responsive" />
            </a>
            <div class="caption text-center">
                <h4>Teodor Dobrev</h4>
                <p>teodor.dobrev.90</p>
                <a href="https://softuni.bg/users/profile/show/teodor.dobrev.90" class="btn btn-sm btn-success">Read More</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://softuni.bg/users/profile/show/Flyer">
                <img src="https://softuni.bg/Users/Profile/ShowAvatar/b7b69109-2893-4d88-9d53-39feb38bb8b5" alt="Karim Hristov" class="img-responsive" />
            </a>
            <div class="caption text-center">
                <h4>Karim Hristov</h4>
                <p>Flyer</p>
                <a href="https://softuni.bg/users/profile/show/Flyer" class="btn btn-sm btn-success">Read More</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://softuni.bg/users/profile/show/nicky89">
                <img src="https://softuni.bg/Users/Profile/ShowAvatar/bb9b27d3-b93f-4dcb-9301-bf4fc2d1ddf7" alt="Nikolay Dobrev" class="img-responsive" />
            </a>
            <div class="caption text-center">
                <h4>Nikolay Dobrev</h4>
                <p>Nicky89</p>
                <a href="https://softuni.bg/users/profile/show/nicky89" class="btn btn-sm btn-success">Read More</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://softuni.bg/users/profile/show/alea_him">
                <img src="https://softuni.bg/Users/Profile/ShowAvatar/22508ba8-5505-40a2-b816-08dea19ad855" alt="Mihaela Mladenova" class="img-responsive" />
            </a>
            <div class="caption text-center">
                <h4>Mihaela Mladenova</h4>
                <p>alea_him</p>
                <a href="https://softuni.bg/users/profile/show/alea_him" class="btn btn-sm btn-success">Read More</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://softuni.bg/users/profile/show/alexkondov">
                <img src="https://softuni.bg/Users/Profile/ShowAvatar/d716ce54-13fe-45a8-97b2-19e5e8bd40d8" alt="Alexander Kondov" class="img-responsive" />
            </a>
            <div class="caption text-center">
                <h4>Alexander Kondov</h4>
                <p>AlexKondov</p>
                <a href="https://softuni.bg/users/profile/show/alexkondov" class="btn btn-sm btn-success">Read More</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://softuni.bg/users/profile/show/gmachkanov">
                <img src="https://softuni.bg/Users/Profile/ShowAvatar/d8b6a0a8-649d-4476-a340-7c04e0caf8d6" alt="Georgi Machkanov" class="img-responsive" />
            </a>
            <div class="caption text-center">
                <h4>Georgi Machkanov</h4>
                <p>gmachkanov</p>
                <a href="https://softuni.bg/users/profile/show/gmachkanov" class="btn btn-sm btn-success">Read More</a>
            </div>
        </div>
    </div>
</div>