<div class="col-md-8">
    <h1>Latest Posts</h1>

    <article>
        <h2><a href="#">Title</a></h2>

        <div class="row">
            <div class="col-sm-6 col-md-5">
                <span class="glyphicon glyphicon-bookmark"></span> <a href="<?= $post_link ?>">Tags</a>
            </div>
            <div class="col-sm-6 col-md-7">
                <span class="glyphicon glyphicon-pencil"></span> <a href="#">Comments</a>
                &nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span> date by User <i class="fa fa-eye"></i> 1
                views
            </div>
        </div>

        <hr>

        <a href="#"><img src="#" class="img-responsive post-image"></a>

        <br/>

        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolore eaque ipsum libero,
            magnam minus necessitatibus nisi odit placeat possimus, quaerat quidem quos? Animi, exercitationem
            perspiciatis placeat sunt temporibus ullam?</p>

        <!--TODO: -->
        <p class="text-right">
            <a href="#">
                continue reading...
            </a>
        </p>
    </article>
    <hr>
    <ul class="pager">
        <li class="previous"><a href="#">&larr; Previous</a></li>
        <li class="next"><a href="#">Next &rarr;</a></li>
    </ul>
    <hr>

</div>