<div class="col-md-12">
    <div class="login-form col-md-12">

        <label for="login-username" class="control-label col-md-2">User Name</label>
        <div class="col-md-10">
            <input class="form-control" type="text" id="login-username" placeholder="User Name"/>
        </div>

        <label for="login-password" class="control-label col-md-2">Password</label>
        <div class="col-md-10">
            <input class="form-control" type="text" id="login-password" placeholder="Password"/>
        </div>

        <button class="btn btn-primary" id="login-submit">Submit</button>

    </div>
</div>