<article>
    <div class="row">
        <div class="col-sm-6 col-md-5">
            <span class="glyphicon glyphicon-bookmark"></span> <a href="#">tag, tag</a>
        </div>
        <div class="col-sm-6 col-md-7">
            <span class="glyphicon glyphicon-pencil"></span> <a href="#comment">Comments</a>
            <span class="glyphicon glyphicon-time"></span> 2014-11-27 13:15:44 by User <i class="fa fa-eye"></i> 1 views
        </div>
    </div>

    <hr>

    <a href="#"><img src="#" class="img-responsive post-image"></a>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus alias aperiam aspernatur at autem,
        distinctio harum incidunt ipsam laborum laudantium, magni maiores nihil porro quo sunt unde ut
        voluptates!
    </p>
</article>

<% include inc/comment.ejs %>