<div class="col-md-12">
    <div class="register-form col-md-12">
        <label for="register-username" class="control-label col-md-2">User Name</label>
        <div class="col-md-10">
            <input type="text" id="register-username" class="form-control" placeholder="User Name"/>
        </div>

        <label for="register-password" class="control-label col-md-2">Password</label>
        <div class="col-md-10">
            <input type="text" id="register-password" class="form-control" placeholder="Password"/>
        </div>

        <label class="control-label col-md-2" for="repeat-register-password">Repeat Password</label>
        <div class="col-md-10">
            <input type="text" id="repeat-register-password" class="form-control" placeholder="Repeat Password"/>
        </div>

        <button class="btn btn-primary" id="register-submit">Submit</button>
    </div>
</div>

