<div class="col-md-12">
    <h1>Welcome <span class="username"></span> </h1>
</div>

<div class="col-md-12">
    <h3>
        You have posted <span class="posts-count"></span> posts.
    </h3>
</div>

<div class="col-md-12 all-posts">

</div>