<aside class="col-md-4">

    <% if(!Parse.User.current()) { %>
    <!-- Register label -->
    <div class="well text-center">
        <p class="lead">
            Don't want to miss updates? Please click the below button!
        </p>
        <a href="/register" class="btn btn-primary btn-lg">Register Now!</a>
    </div>
    <% } %>

    <!-- Latest Posts -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Latest Posts</h4>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a href="#">Text</a></li>
        </ul>
    </div>

    <!-- Categories -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Categories</h4>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a href="#">Category</a></li>
        </ul>
    </div>

    <!-- Tags -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Tags</h4>
        </div>
        <div class="panel-body">
            <ul class="list-inline">
                <li><a href="#">tag</a></li>
            </ul>
        </div>
    </div>

    <!-- Recent Comments -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Recent Comments</h4>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#">Comment</a><br>
                <em>from User</em>
            </li>
        </ul>
    </div>
</aside>