</div>
<footer>
    <div class="container">
        <p class="pull-left">&copy; <a href="/"><%= settings.title %></a> 2014. It's all free..</p>

        <p class="pull-right socials">
            Follow Us:
            <a href="https://www.facebook.com/"><i class="fa fa-facebook fa-lg"></i></a>
            <a href="https://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
            <a href="https://plus.google.com/"><i class="fa fa-google-plus fa-lg"></i></a>
        </p>
    </div>
</footer>

<script data-main="/js/main" src="/vendor/requirejs/require.js"></script>

</body>
</html>